* {
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif;
}
li {
    list-style-type: none;
}
.logo {
    width: 10vw;
}
.nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.right-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    margin-left: 15vw;
}
.left-link {
    display: flex;
    flex-direction: row;
}
.hero-img {
    flex: 55%;
    margin-left: 2em;
}
.hero {
    flex: 45%;
    margin-top: 2vh;
}